{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load user_group_validation %}

{% block content %}
{% if coordinator == True %}
  <h2>{{ option }}</h2>
    <div class="row">
      <div class="col-sm-3">
        <form method="POST" id="filter_line_items_by_seamstress" action="{% url 'production_scheduler:filter_line_items_by_seamstress' callback=option %}">
          {% csrf_token %}
          {{ seamstressListForm| crispy}}
          <button type="submit" name='action' value = 'filter' class="btn btn-sm btn-dark">Filtrar</button>
          <button type="submit" name='action' value = 'reset' class="btn btn-sm btn-dark">Reset</button>
        </form>
      </div>
  </div>
{% endif %}
<br>
<div class="table-responsive">
<table id ="new_orders_table" class="table table-hover" cellspacing="0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" onclick="sortTable(1, 'new_orders_table')"># Orden <i class="fa fa-fw fa-sort"></th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Fecha Orden</th>
      <th scope="col">Asignado a</th>
      <th scope="col">Estado</th>
      <th scope="col">Entregado</th>
      <th scope="col">Nota</th>
      <th scope="col">Detalles</th>
      <th scope="col">Mensajes</th>
      {% if entregadas == True  or terminadas == True %}
        <th scope="col">Cambiar Estado</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for line_item in line_items_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ line_item.order_number }}</td>
        <td>{{ line_item.title }}</td>
        <td>{{ line_item.quantity }}</td>
        <td>{{ line_item.created_at }}</td>
        <td>{{ line_item.assigned_to }}</td>
        <td>{{ line_item.get_status_display }}</td>
        <td>{{ line_item.fecha_entrega }}</td>
        <td><button type="button" class="btn btn-sm btn-dark" title="Nota" data-toggle="popover"  data-trigger="hover" data-placement="left" data-content= '{{ line_item.special_instructions }}' >Ver</button></td>
        <td>
          <button type="button" class="btn btn-sm btn-dark" title="Detalles" data-toggle="popover" data-trigger="hover" data-content= '{{ line_item.variant_title }}' >Ver</button>
        </td>
        {% if entregadas == True  or terminadas == True %}
          <td>
            <form method="POST" action="{% url 'production_scheduler:update_line_item_status' %}">
              {% csrf_token %}
              {{ lineItemEntregadaForm | crispy }}
              <input type="hidden" id="line_item_id" name="line_item_id" value='{{ line_item.line_item_id }}'>
              <input type="hidden" id="update_line_item_status" name="update_line_item_status">
              <input type="hidden" id="option" name="option" value='{{ option }}'>
              <button type="submit" class="btn btn-sm btn-dark">Actualizar</button>
            </form>
          </td>
        {% endif %}
        <td><a href="{% url 'production_scheduler:mensajes' line_item.line_item_id %}">Ir a mensajes</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock content %}
