{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load user_group_validation %}

{% block content %}

{% if http_status != 200 %}
  <h4>HTTP Error {{ http_status }}. Couldn't retrieve new orders </h4>
{% endif %}
{% if timeout == True %}
  <h4>Error: Conection timeout. Couldn't retrieve new orders.</h4>
{% endif %}
{% if connection_error == True %}
  <h4>Error: Connection Error. Couldn't retrieve new orders. </h4>
{% endif %}

<br>
<div class="table-responsive">
<table id ="new_orders_table" class="table table-hover" cellspacing="0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" onclick="sortTable(1, 'new_orders_table')"># Orden <i class="fa fa-fw fa-sort"></th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Fecha Orden</th>
      <th scope="col">Asignado a</th>
      <th scope="col">Estado</th>
      <th scope="col">Entregado</th>
      <th scope="col">Detalles</th>
      <th scope="col">Marcar cómo asignada</th>
      {% if request.user|has_group:"coordinator" %}
        <th scope="col">Agregar Nota/Dismiss</th>
      {% endif %}
      {% if request.user|has_group:"coordinator" %}
        <th scope="col">Mensajes</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for line_item in line_items_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ line_item.order_number }}</td>
        <td>{{ line_item.title }}</td>
        <td>{{ line_item.quantity }}</td>
        <td>{{ line_item.created_at }}</td>
        <td id='{{ line_item.line_item_id }}assigned_field'>{{ line_item.assigned_to }}</td>
        <td>{{ line_item.get_status_display }}</td>
        <td>{{ line_item.fecha_entrega }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-dark" title="Detalles" data-toggle="popover" data-content= '{{ line_item.variant_title }}' >Ver</button>
        </td>
        {% if request.user|has_group:"coordinator" %}
        <td>
          <form method="POST" class="assignment_form" action="{% url 'production_scheduler:assign_line_item_to_seamstress' option='assign' %}">
            {% csrf_token %}
            {{ form| crispy}}
            <input type="hidden" id="line_item_id" name="line_item_id" value='{{ line_item.line_item_id }}'>
            <input type="hidden" id="assign_line_item_to_seamstress" name="assign_line_item_to_seamstress">
            <button type="submit" class="btn btn-sm btn-block btn-dark">Asignar</button>
          </form>
        </td>
        {% endif %}
        {% if request.user|has_group:"coordinator" %}
        <td>
          <form method="POST" class="dismiss" action="{% url 'production_scheduler:assign_line_item_to_seamstress' option='change_status' %}">
            {% csrf_token %}
            {{ lineItemSpecialInstructionsForm | crispy }}
            <input type="hidden" id="line_item_id" name="line_item_id" value='{{ line_item.line_item_id }}'>
            <input type="hidden" id="uptdate_line_item_status_to_assigned" name="uptdate_line_item_status_to_assigned">
            <button type="submit" class="btn btn-sm btn-block btn-dark">Dismiss</button>
          </form>
        </td>
        <td><a href="{% url 'production_scheduler:mensajes' line_item.line_item_id %}">Ir a mensajes</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock content %}
