{% load static %}
{% load user_group_validation %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Login CSS-->
    <link href="{% static 'production_scheduler/css/login.css' %}" rel="stylesheet">

    <title>Production Scheduler</title>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Production Scheduler JavaScript-->
    <script src="{% static 'production_scheduler/js/production_scheduler.js' %}"></script>

  </head>
  <body>
      <!--Navegation Bar-->
      <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <a class="navbar-brand" href="#">Remu Apparel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Nuevas Ordenes <span class="sr-only">(current)</span></a>
            </li>
            {% if request.user|has_group:"coordinator" %}
              <li class="nav-item">
                <a class="nav-link" href="#">Ordenes Asignadas</a>
              </li>
            {% endif %}
            {% if request.user|has_group:"coordinator" %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Reportes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Option 1</a>
                  <a class="dropdown-item" href="#">Option 2</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Option 3</a>
                </div>
              </li>
            {% endif %}
            {% if request.user|has_group:"seamstress" %}
              <li class="nav-item">
                <a class="nav-link" href="#">Historial</a>
              </li>
            {% endif %}

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <p class="nav-item nav-link disabled">Hola, {{ user.username }}</p>
                {% if request.user.is_staff %}
                  <a class="nav-item nav-link" href="admin/">Admin</a>
                {% endif %}
                <a class="nav-item nav-link" href="#">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}
            </div>
          </ul>
        </div>
      </nav>

    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>


    <script type="text/javascript">
      $(document).ready(function(){
        //Data Popover
        $('[data-toggle="popover"]').popover();
      });

      $(document).ready(function(){
        //Ajax Call AssignForm
        $('.assignment_form').submit(function(event){
          event.preventDefault();
          var $formData = $(this).serialize()
          var $thisURL = $('.assignment_form').attr('action') //|| window.location.href
          $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
          })
          function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            var $line_item_id = data.line_item_id
            var $assign_field = $line_item_id + 'assigned_filed'
            $('#' + $assign_field).html(data.new_assigment);
          }

          function handleFormError(jqXHR, textStatus, errorThrown){
              console.log(jqXHR)
              console.log(textStatus)
              console.log(errorThrown)
          }

        });
      });
    </script>
</body>
</html>
