{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Login CSS-->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <title>Production Scheduler</title>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--Navegation Bar-->
    {% include 'navbar.html' %}
    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!--Messages-->
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endfor %}
          <!--Page Content-->
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>


    <script type="text/javascript">
      $(document).ready(function(){
        //Data Popover
        $('[data-toggle="popover"]').popover();
      });

      $(document).ready(function(){
        //Ajax Call LineItem Seamstress Assigment Form
        $('.assignment_form').submit(function(event){
          event.preventDefault();
          var $formData = $(this).serialize()
          var $thisURL = $('.assignment_form').attr('action') //|| window.location.href
          $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
          })
          function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            var $line_item_id = data.line_item_id
            var $assign_field = $line_item_id + 'assigned_field'
            $('#' + $assign_field).html(data.assigned_to);
          }

          function handleFormError(jqXHR, textStatus, errorThrown){
              console.log(jqXHR)
              console.log(textStatus)
              console.log(errorThrown)
          }

        });

        //Ajax Call LineItem StatusForm
        $('.update_line_item_status').submit(function(event){
          event.preventDefault();
          var $formData = $(this).serialize()
          var $thisURL = $('.update_line_item_status').attr('action')
          $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
          })
          function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            var $line_item_id = data.line_item_id
            var $status_field = $line_item_id + 'status_field'
            $('#' + $status_field).html(data.new_status);
          }

          function handleFormError(jqXHR, textStatus, errorThrown){
              console.log(jqXHR)
              console.log(textStatus)
              console.log(errorThrown)
          }

        });
      });
      //End document.ready
    </script>
</body>
</html>
